$color-background: #f8f8f8;
$color-text-top: #858585;
$color-hotline: #e5e5e5;
$color-text: #363636;
$color-moss-green: #6fa052;
$color-name-prd: #222222;
$color-news: #f0f0f0;
$color-time-day: #a1a1a1;
$color-application: #f4f4f4;
