.introduce {
  padding-top: 20px;
  .introduce__information {
    padding: 60px 0;
    &.active {
      background-color: $color-background;
    }
    &_details {
      width: 100%;
      @include flex(center, space-between, wrap);
      .introduce__text {
        width: 49%;
        .text-name {
          font-size: 32px;
          line-height: 30px;
          font-weight: 500;
          margin-bottom: 24px;
        }
        .introduce-details {
          font-size: 17px;
          line-height: 30px;
          color: $color-text;
          display: -webkit-box;
          -webkit-line-clamp: 12;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      .img-introduce {
        width: 49%;
        height: 387px;
      }
    }
  }
}
@media (max-width: 850px) {
  .introduce {
    .introduce__information {
      &_details {
        width: 100%;
        flex-direction: column-reverse;
        &.active {
          flex-direction: column;
        }
        .introduce__text {
          width: 100%;
        }
        .img-introduce {
          width: 100%;
          height: 387px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
